# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db

.idea/

build/*
Stegano.egg-info/*
dist/*

# Emacs
eproject.cfg

# Temporary files (vim backups)
*.swp

# Log files:
*.log

# Vagrant:
.vagrant/

# Virtualenv
venv
build
