[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Pillow = "*"
piexif = "*"
crayons = "*"


[dev-packages]

twine = "*"
pep8 = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
